@font-face {
  font-family: "iconfont"; /* Project id 3080848 */
  src: url('iconfont.woff2?t=1645786124555') format('woff2'),
       url('iconfont.woff?t=1645786124555') format('woff'),
       url('iconfont.ttf?t=1645786124555') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bg-folder:before {
  content: "\e648";
}

.icon-bg-folder-copy:before {
  content: "\ec8a";
}

.icon-bg-folder-copy-copy:before {
  content: "\ec8b";
}

.icon-bg-folder-copy-copy-copy:before {
  content: "\ec8c";
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e789";
}

.icon-tongji1:before {
  content: "\e64a";
}

.icon-zhuanghuangcailiaoclassify:before {
  content: "\e7c1";
}

.icon-shangpinshoucangcollect:before {
  content: "\e7c9";
}

.icon-shoucangdianpucollect:before {
  content: "\e7cc";
}

.icon-tongbuSync:before {
  content: "\e7cf";
}

.icon-daifahuoOrder:before {
  content: "\e7c0";
}

.icon-shituliebiaoList:before {
  content: "\e7ca";
}

.icon-zhifaFSend:before {
  content: "\e7d8";
}

.icon-dikucunstock:before {
  content: "\e7e4";
}

.icon-biaoqiansale:before {
  content: "\e7be";
}

.icon-zhaomingclassify:before {
  content: "\e7d7";
}

.icon-ziliao:before {
  content: "\e747";
}

.icon-hezi:before {
  content: "\e74f";
}

.icon-ditu:before {
  content: "\e61f";
}

.icon-tianshenpi:before {
  content: "\eb67";
}

.icon-icon_rukou:before {
  content: "\eb88";
}

.icon-icon_fabu:before {
  content: "\eb89";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-huowudui:before {
  content: "\ec89";
}

.icon-gerenzhongxin:before {
  content: "\e744";
}

.icon-daizhifupayment:before {
  content: "\e7bc";
}

.icon-fenleimenu:before {
  content: "\e7bf";
}

.icon-wenjianjiafile:before {
  content: "\e7d0";
}

.icon-youshizhifupay:before {
  content: "\e7da";
}

.icon-zhangdanchaxunbill:before {
  content: "\e7db";
}

.icon-zhifubao:before {
  content: "\e68a";
}

.icon-transfer-fill:before {
  content: "\e688";
}

.icon-jiantou_xiangyouliangci:before {
  content: "\eb09";
}

.icon-bianjiedit:before {
  content: "\e7ba";
}

.icon-shanchuDelete:before {
  content: "\e7c8";
}

.icon-mimasuolock:before {
  content: "\e7c7";
}

.icon-shoujimobie:before {
  content: "\e7cb";
}

.icon-calendar:before {
  content: "\e675";
}

.icon-daochu:before {
  content: "\e61b";
}

.icon-guanbiclose:before {
  content: "\e7c2";
}

.icon-jinrumore-fill:before {
  content: "\e7c4";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-xiazaidownload:before {
  content: "\e7d3";
}

.icon-tiwenquestion:before {
  content: "\e7cd";
}

.icon-youjianmail:before {
  content: "\e7d4";
}

.icon-dingdanorder-copy:before {
  content: "\e7df";
}

.icon-tongzhiNotice-copy:before {
  content: "\e7e0";
}

.icon-xianshiqiPc-copy:before {
  content: "\e7e1";
}

.icon-wodemy-copy:before {
  content: "\e7e2";
}

.icon-zhanghuxinxiuser-copy:before {
  content: "\e7e3";
}

.icon-shezhisetting:before {
  content: "\e7b0";
}

.icon-cangkuwarehouse:before {
  content: "\e7bb";
}

.icon-dingdanorder:before {
  content: "\e7bd";
}

.icon-tongzhiNotice:before {
  content: "\e7ce";
}

.icon-xianshiqiPc:before {
  content: "\e7d2";
}

.icon-wodemy:before {
  content: "\e7d5";
}

.icon-zhanghuxinxiuser:before {
  content: "\e7dc";
}

.icon-shezhisetting-copy:before {
  content: "\e7dd";
}

.icon-cangkuwarehouse-copy:before {
  content: "\e7de";
}

