$--color-primary: #004098;

$--color-success: #46C579;

$--border-color-base: #E8E9EB;
$--table-header-font-color: #505050;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";